@font-face {
    font-family: 'Raleway';
    src: url("../fonts/Raleway-Regular.ttf");
}

@font-face {
    font-family: 'Raleway-bold';
    src: url("../fonts/Raleway-Bold.ttf");
}

* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    font-family: "Raleway";
}